@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap')
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

$primary: #33ffff


body
  margin: 0
  background-color: black

h2
    color: white
    font-family: Oswald


.match
    margin: 0px
    display: block
    width: 100vw
    height: 100vh
    background: url('/splashscreen.jpg')
    background-size: cover
    background-repeat: no-repeat
    position: absolute

    .container
        position: relative
        margin: 100px auto auto auto
        width: 100%
        max-width: 400px
        padding: 50px
        background-color: #333333
        border-radius: 5px
        box-shadow: 5px 5px 5px rgba(0,0,0,.3)
        text-align: center

        .title
            font-size: 25px
            font-family: Oswald
            color: white

        .join
            margin-top: 20px

            input
                background-color: transparent
                font-family: Oswald
                border: 1px solid white
                color: white
                border-radius: 5px
                padding: 5px

            button
                border: 1px solid white
                background: white
                color: black
                padding: 5px 15px 5px 15px
                border-radius: 5px
                cursor: pointer
                margin-left: 5px

            .already-joined
                color: white
                font-family: Oswald

        .loader
            text-align: center
            font-family: Oswald
            color: $primary
            margin: 20px auto

            .user
                color: white
            

        .start-game
            margin-top: 20px
            background: $primary
            padding: 10px 20px 10px 20px
            border-radius: 5px
            cursor: pointer
            border: none